body {
  background-color: #fff;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3350;
  margin-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.signout-btn {
  position: absolute;
  text-align: right;
  top: 60px;
  right: 40px;
}

.form-group {
  margin-bottom: 3px;
}

.v-select .dropdown-toggle {
  width: 100%;
  font-size: 11px;
  border: none;
}

.v-select {
  overflow: hidden;
  width: 100%;
}

.selected-tag {
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
}

.location-wrapper {
  display: block;
  margin: 10px;
}

.event-card {
  border: 2px solid #2c3e50;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 11px;
}

.employees {
  margin-top: 10px;
  clear: both;
}

.employee {
  box-sizing: border-box;
  border: 1px solid darkseagreen;
  border-radius: 3px;
  padding: 3px;
  font-size: 11px;
}

.time {
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  border-bottom: 2px orange;
  padding: 8px;
}

.time > * {
  margin: 3px;
}

.location-label {
  display: inline-block;
  float: left;
  margin: 2px;
  padding: 2px;
}
